<h1>Post Detail</h1>
  <ng-container *ngIf="(post$ | async) !== undefined; else loading">
    <div class="post-con" *ngIf="(post$ | async) as post ; else postNotFound">
      <mat-card>
        <mat-card-title>{{post.title}}</mat-card-title>
        <div *ngIf="post.user" class="post-author">
          <mat-card-subtitle><a [routerLink]="['/admin/users/',post.user.id]">{{post.user.name}}</a></mat-card-subtitle>
          <mat-card-subtitle>{{post.user.email}}</mat-card-subtitle>
        </div>
        <mat-card-content>
          <p>{{post.body}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>

  <ng-template #postNotFound>
    <div class="no-post-found">
      <p>No post found</p>
    </div>
  </ng-template>

  <ng-template #loading>
    <div class="loading">
      <p>loading...</p>
    </div>
  </ng-template>
