<h1>TODO: Load this page only if user is logged in</h1>
<p>Is logged in: {{ isLoggedIn$ | async }}  </p>

<h2>Navigation</h2>
<div class="nav" *ngIf="userPermissions$ |async as UserPermissions">
    <ul>
        <!-- Enable link if user has 'catalog.read' perissions  -->
        <!-- This link should navigate user to /posts -->
        <li *ngIf="UserPermissions?.permissions?.includes('catalog.read')"><a [routerLink]="'./posts'">Posts</a></li>

        <!-- Enable link if user has 'user.read' perissions  -->
        <!-- This link should navigate user to /users -->
        <li *ngIf="UserPermissions?.permissions?.includes('user.read')"><a [routerLink]="'./users'">Users</a></li>
        <li><a (click)="logout()" class="logout">Logout</a></li>
    </ul>
</div>

<div>
    <router-outlet></router-outlet>
</div>
