<h1>User Detail</h1>
  <ng-container *ngIf="(user$ | async) !== undefined; else loading">
    <div class="user-con" *ngIf="(user$ | async) as user ; else userNotFound">
      <mat-card>
        <mat-card-title>{{user.name}}</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item>
              <div>User Name</div><div>{{user.username}}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <div>Email</div><div>{{user.email}}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <ng-container *ngIf="user.address">
              <mat-list-item>
                <div>Street Address</div><div>{{user.address.street}}</div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <div>Address Suite</div><div>{{user.address.suite}}</div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <div>City</div><div>{{user.address.city}}</div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <div>Zipcode</div><div>{{user.address.zipcode}}</div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <ng-container *ngIf="user.address.geo">
                <mat-list-item>
                  <div>Lat</div><div>{{user.address.geo.lat}}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <div>Lng</div><div>{{user.address.geo.lng}}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
              </ng-container>
            </ng-container>
            <mat-list-item>
              <div>Phone</div><div>{{user.phone}}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <div>Website</div><div>{{user.website}}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <ng-container *ngIf="user.company">
              <mat-list-item>
                <div>Company City Name</div><div>{{user.company.name}}</div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <div>Company CatchPhrase</div><div>{{user.company.catchPhrase}}</div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <div>Company Bs</div><div>{{user.company.bs}}</div>
              </mat-list-item>
              <mat-divider></mat-divider>
            </ng-container>
            <mat-list-item>
              <div>Total Posts</div><div>{{user.postCount}}</div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>

  <ng-template #userNotFound>
    <div class="no-user-found">
      <p>No user found</p>
    </div>
  </ng-template>

  <ng-template #loading>
    <div class="loading">
      <p>loading...</p>
    </div>
  </ng-template>
