<h1>Posts</h1>
<ng-container *ngIf="posts$ | async as posts; else loading">
  <ng-container *ngFor="let post of posts">
    <div class="post-con">
      <mat-card>
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-content>
          <p>{{post.body}}</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button [routerLink]="['./',post.id]">Details</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
  <ng-container *ngIf="posts.length == 0">
      <div class="no-post-found">
        <p>No post found</p>
      </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="loading">
    <p>loading...</p>
  </div>
</ng-template>
