<h1>Users</h1>
<ng-container *ngIf="users$ | async as users; else loading">
  <ng-container *ngFor="let user of users">
    <div class="user-con">
      <mat-card>
        <mat-card-title>{{user.name}}</mat-card-title>
        <mat-card-content>
          <p>{{user.email}}</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button [routerLink]="['./',user.id]">Details</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
  <ng-container *ngIf="users.length == 0">
      <div class="no-user-found">
        <p>No user found</p>
      </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="loading">
    <p>loading...</p>
  </div>
</ng-template>
