/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-con {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.user-con,
.post-con {
  margin: 12px;

  mat-card-actions {
    display: flex;
    justify-content: end;
  }
}

.loading,
.no-user-found,
.no-post-found {
  display: flex;
  justify-content: center;
  padding: 12px;
}
